* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.conteneur {
    position: relative;
    width: 90%;
    max-width: 800px;
    margin-top: 40px;
    padding: 40px;
    height: calc(100vh - 60px);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.form-container {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1 {
    margin-bottom: 20px;
}

form input {
    margin: 10px 0;
    padding: 10px;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background: #009688;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background: #00796b;
}

form p {
    margin-top: 20px;
}

form a {
    color: #009688;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

.profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-pic input {
    display: none;
}

.profile-pic .image {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}
.profile-pic .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.profile-pic ion-icon {
    position: relative;
    bottom: 20px;
    left: 30%;
    border-radius: 50%;
    background-color: #fff;
    color: #009688;
    font-size: 30px;
    cursor: pointer;
}
